releve.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT releve (operations+)>
<!ELEMENT operations (operation+)>
<!ELEMENT  operation EMPTY>

<!ATTLIST releve 
            dateReleve CDATA #REQUIRED
            solde CDATA #REQUIRED>
<!ATTLIST operations 
        dateDebut CDATA #REQUIRED
        dateFin CDATA #REQUIRED>

<!ATTLIST operation 
        type CDATA #REQUIRED
        date CDATA #REQUIRED
        montant CDATA #REQUIRED
        description CDATA #REQUIRED>
        

