releve.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="releve">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="dateReleve" type="xsd:date"/>
                <xsd:element name="solde" type="xsd:decimal"/>
                <xsd:element maxOccurs="unbounded" name="operations" type="T_operations"> </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="RIB" type="xsd:decimal" use="required"> </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="T_operations">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="operation" type="T_operation"> </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="dateDebut" type="xsd:date" use="required"> </xsd:attribute>
        <xsd:attribute name="dateFin" type="xsd:date" use="required"> </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="T_operation">
        <xsd:attribute name="type" type="xsd:string" use="required"> </xsd:attribute>
        <xsd:attribute name="date" type="xsd:date" use="required"> </xsd:attribute>
        <xsd:attribute name="montant" type="xsd:double" use="required"> </xsd:attribute>
        <xsd:attribute name="description" type="xsd:string" use="required"> </xsd:attribute>
    </xsd:complexType>
</xsd:schema>

